.intro {
  border-top: 0.1rem solid var(--color-theme-primary);

  &__inner-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &intro__col {
    mix-blend-mode: overlay;
    margin-bottom: 2rem;
  }

  &__summary {
    color: #ffffff;
    @include media-query('sm') {
      font-size: get-size(600);
      --flow-space: #{get-size(600)};
    }

    a {
      color: currentColor;
      border-bottom: none;
      text-decoration: none;
      padding: 0 0.1rem;
      border-bottom: 3px solid #6dffff;

      a:hover {
        text-decoration: none;
        background: #6dffff;
      }
    }
  }
  &__heading {
    max-width: 40ex;
    color: #ffffff;
    font-size: get-size(600);
    padding-bottom: 1rem;
    @include media-query('sm') {
      font-size: get-size(800);
    }

    &--compact {
      max-width: 23ex;
    }
  }

  &__photo {
    float: left;
    width: 4rem;
    margin: 0 1rem 2rem 0;
    display: none;

    @include media-query('sm') {
      display: none;
      width: 8rem;
      margin-right: 2rem;
    }
    @include media-query('md') {
      width: 15rem;
      display: block;
      margin-right: 3rem;
    }
    &__img {
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
    }
  }
}
