.intro {
  border-top: 4px solid $bvb-simple-pri;
  background: linear-gradient(0deg,#ffffffff 0,#ffffffcc 50%,#ffffffaa 81%,#ffffff66 100%),
  linear-gradient(40deg,#c3cbf5 0,#fff 20%, #bcc3f7 32%, #fff 45%, #e1bfff 64%,#fff 81%,#c4cdfd 100%);
  background-size: 600% 100%;
  -webkit-animation: gradientBG 30s ease infinite;
  -moz-animation: gradientBG 30s ease infinite;
  animation: gradientBG 30s ease infinite;


  &__inner-wrapper {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f6f5eb;
    -webkit-box-shadow: 0 10px 6px 3px #777;
    -moz-box-shadow: 0 10px 6px 3px #777;
    box-shadow: 1px 10px 6px 3px #777;
  }
  &__col {
    margin-bottom: 2rem;
  }

  &__summary {
    color: #555;
    padding-top: 1rem;
    @include media-query('sm') {
      font-size: get-size(600);
      --flow-space: #{get-size(600)};
    }

    // a {
    //   color: $bvb-simple-pri;
    //   padding: 0 0.1rem;
    //   box-shadow: 0 -.25em 0 $bvb-simple-highlight inset;

    //   a:hover {
    //     background-color: $bvb-simple-highlight;

    //   }
    // }
  }
  &__heading {
    max-width: 40ex;
    color: #555;
    font-size: get-size(600);
    @include media-query('sm') {
      font-size: get-size(800);
    }

    &--compact {
      max-width: 23ex;
    }
  }

  &__photo {
    float: left;
    width: 4rem;
    margin: 0 1rem 2rem 0;
    display: none;

    @include media-query('sm') {
      display: none;
      width: 8rem;
      margin-right: 2rem;
    }
    @include media-query('md') {
      width: 13rem;
      display: block;
      margin-right: 3rem;
    }
    &__img {
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
    }
  }


  @-webkit-keyframes gradientBG {
      0%{background-position:0% 25%}
      50%{background-position:100% 76%}
      100%{background-position:0% 25%}
  }
  @-moz-keyframes gradientBG {
      0%{background-position:0% 25%}
      50%{background-position:100% 76%}
      100%{background-position:0% 25%}
  }
  @keyframes gradientBG {
      0%{background-position:0% 25%}
      50%{background-position:100% 76%}
      100%{background-position:0% 25%}
  }

}

