.nav {
    &__list {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            display: none;
        }

        >*+* {
            margin-left: get-size(400);
        }
    }

    &__item {
        padding: get-size(300) 0;
        flex-shrink: 0;

        a {
            color: $bvb-simple-black;
            text-decoration: none;
            padding: 0.1rem 0;
            background-image: none;
            @include apply-utility('weight', 'mid');

            @include media-query('sm') {
                padding: 0.1rem 0.6rem;
            }

        }

        a:hover {
            text-decoration: none;

        }
    }
}
