.pagination {
  flex-wrap: wrap;

  a {

    text-decoration: none;

    &:not(:hover) {
      text-decoration: none;
    }

    // Flip content if direction is backwards
    &[data-direction='backwards'] {
      flex-direction: row-reverse;

      svg {
        transform: rotate(-180deg);
      }
    }

  }

  svg {
    pointer-events: none;
  }
}

nav.pagination-photos ol.pagination-list {
  list-style: none;
  display: flex;
  justify-content: center;

  li.pagination-item {
    padding: 1rem;
    margin-top: 0;
  }
}
