.post-list {
  &__item {
    --flow-space: #{get-size(700)};
  }
  &__link {
    &,
    &:visited {
      color: #323275;
      text-decoration: none;
    }
    &:hover {
      text-decoration: none;
      background: #6dffff;
    }
  }
}

.thumbnail-grid a.ig-thumb-link,
.thumbnail-grid a.ig-thumb-link:hover,
.photos-list a.sm-item-link,
.photos-list a.sm-item-link:hover {
  border: none;
  text-decoration: none;
  background: none;
  padding: 0 0.2rem 0.2rem;
  box-shadow: none;
}
li.sm-item {
  float: left;
  border: none;
}
