.site-foot {
    background: #b3b3b3;
    color: #373541;
    border-top: 1.4rem solid #ccc;
  a {
    color: currentColor;

    &:hover {
      text-decoration: none;
    }
  }

  &__credit {
    text-align: center;
  }
}
