.site-head {
  border-bottom: 0.3rem solid var(--color-slate);

  &__site-name {
    border: none;
    text-decoration: none;
    color: var(--dark);
    font: 600 4rem Helvetica, 'Helvetica Neue', 'Segoe UI', Sans-Serif;
    text-shadow: 0.3rem 0.2rem 0 var(--color-primary);
    border: none;
    background: none;
    box-shadow: none;
  }
}
