<header class="[ intro intro-{{ pageType }} ] ">
  <div class="[ intro__inner-wrapper inner-wrapper box-flex] [ sf-flow ]">
    {% if introPhoto %}
      <div class="[ intro__photo ] [ sf-flow ] "><img src="{{introPhoto}}" alt="" class="intro__photo__img"></div>
    {% endif %}
    <div class="intro__col">
      <h1 class="[ intro__heading{{ ' intro__heading--compact' if page.url === '/' }} ] [ md:text-700 leading-tight ] [ p-name ]">{{ introHeading }}</h1>
      {% if pageType == 'About' or pageType == 'Homepage' %}
        <div class="[ intro__summary ] [ text-500 leading-mid measure-short ]">
         My name is Brad and I'm a web developer in Atlanta.
         I have been building websites and web applications since 1999.
         I'm currently <a href="/resume">available for hire</a>!

          {% if pageType == 'Homepage' %}
           <br><a class="intro__more" href="/about">Learn more</a>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
</header>
