<header class="[ intro intro-{{ pageType }} ] [ pad-top-600 ]">
  <div class="[ intro__inner-wrapper inner-wrapper box-flex] [ sf-flow ]">
    {% if introPhoto %}
      <div class="[ intro__photo ] [ sf-flow ] "><img src="{{introPhoto}}" alt="" class="intro__photo__img"></div>
    {% endif %}
    <div class="intro__col">
      <h1 class="[ intro__heading{{ ' intro__heading--compact' if page.url === '/' }} ] [ md:text-800 leading-tight ] [ p-name ]">{{ introHeading }}</h1>
      {% if pageType == 'About' or pageType == 'Homepage' %}
        <div class="[ intro__summary ] [ sf-flow ] [ leading-mid measure-short ]">
          I build websites and make photos in Atlanta.<br>
          I'm available for hire!  <br>
          Take a look at my <a href="/resume">résumé</a> and send me an email if you would like to <a href="/contact">get in touch</a>.
        </div>
      {% endif %}
    </div>
  </div>
</header>
