{% if smugmug.posts.length %}
<section class="[ ig-thumb-section ] [ gap-bottom-900 ]">
  <div class="[ inner-wrapper ] [ sf-flow ]">
    <h2 class="[ post-list__heading ]">Recent Photos</h2>
    <div class="thumbnail-grid">
      {% for item in smugmug.posts.slice(0, 10)  %}
        <a href="{{ item['media:group'][0]['media:content'][7].$.url }}" data-lightbox="sm-recent" data-title="{{ item.title }}" class="ig-thumb-link"><img src="{{ item.guid[0]._ }}" alt="{{ item.title }}" class="sm-item-thumb"></a>
      {% endfor %}
    </div>
  </div>
</section>

{% endif %}
