.inner-wrapper {
  max-width: map-get($metrics, 'wrap-inner-max-width');
  margin-left: auto;
  margin-right: auto;
  padding-left: 0rem;
  padding-right: 0rem;

  &__gallery {
    max-width: 80rem;

    @include media-query('sm') {
      padding-left: get-size(500);
      padding-right: get-size(500);
    }

    @include media-query('lg') {
      max-width: 80rem;
    }
  }
}

.photo-details .inner-wrapper {
  max-width: 100rem;
}
