.wrapper {
  max-width: map-get($metrics, 'wrap-max-width');
  margin-left: auto;
  margin-right: auto;
  padding-left: get-size(500);
  padding-right: get-size(500);
  width: 100%;

}

.grid-parent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "main"
    "side";
  grid-gap: 1rem;

  @include media-query('sm') {
    grid-template-areas: "main side";
    grid-template-columns: 1fr max-content;
  }

}

.gp-side {
  grid-area: side;
  display: none;


  @include media-query('sm') {
    display: block;
    padding-left: 3rem;

  }


}

.gp-main {
  grid-area: main;

}
