<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed.xml"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/icons/site.webmanifest">
    {% include "partials/global/meta-info.njk" %}
    <script>
      document
        .documentElement
        .classList
        .remove('no-js');
    </script>
    <style>
      {% include "assets/css/global.css" %}
    </style>
    {% block head %}{% endblock %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-12438455-5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-12438455-5');
    </script>

    <script src="https://kit.fontawesome.com/752869a828.js" crossorigin="anonymous"></script>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body>
    {% include "partials/global/site-head.njk" %}
    {% block content %}{% endblock content %}
    {% include "partials/global/site-foot.njk" %}
    {% block foot %}{% endblock %}
    {% if pageType == 'photoset' or pageType == 'Homepage' %}
      <script type="application/javascript" src="/js/lightbox-plus-jquery.min.js"></script>
    {% endif %}
  <script type="module" src="/js/components/theme-toggle.js" async defer></script>
    <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator
            .serviceWorker
            .register('/service-worker.js');
        });
      }
    </script>
  </body>
</html>
