{% extends 'layouts/base.njk' %}
{% set pageType = 'Page' %}

{# Intro content #}
{% set introHeading = title %}

{% block content %}
    <main id="main-content" tabindex="-1">
        <article class="[ post ] [ h-entry ]s">
            <div class="[ post__body ] [ inner-wrapper parent-contact ] [ leading-loose ] [ e-content ]">
          <h1>{{ introHeading }}</h1>
                <div class="grid-main">
                    {{ content | safe }}
                     {% include "partials/components/form.njk" %}
                </div>
                <div class="grid-side">
                    <p>
                        <a href="mailto:{{settings.email}}">{{settings.email}}</a><br>
                            {{settings.phone}} <br>
                           <br>
                    </p>

                    <ul class="side-social">
                    {% for social in settings.socials %}
                        <li><a class="icon-links" href="{{social.url}}"><i class="fa fa-{{social.name}}"></i></a></li>
                    {% endfor %}
                    </ul>

                </div>


            </div>
        </article>
    </main>
{% endblock %}

{{ content | safe }}
