{% extends 'layouts/base.njk' %}
{% set pageType = 'photosetFB' %}

{# Intro content #}
{% set introHeading = galleries.atlanta.gallery_name %}

{% block content %}
    <main id="main-content" tabindex="-1">
        <article class="[ post ] [ h-entry ]">
            <div class="[ post__body ] [ inner-wrapper ] [ leading-loose  pad-bottom-900 text-500 ] [ sf-flow ] [ e-content ]">
                <h1>{{ introHeading }}</h1>
                {{ content | safe }}
                <ul class="photos-list">
                    {% for photo in galleries.atlanta.gallery_photos %}
                        <li class="photos-listitem">
                            <a href="https://res.cloudinary.com/bradvsbrad/image/upload/w_1600/{{ photo.cldpublic }}.jpg" data-fancybox="images" data-caption="{{ photo.title }} {{ photo.caption }}" class="ig-thumb-link"><img src="https://res.cloudinary.com/bradvsbrad/image/upload/w_259,c_fill,g_auto,ar_1.667/{{ photo.cldpublic }}.jpg" alt="{{ photo.title }}" class="photos-thumb"></a>

                        </li>

                    {% endfor %}

                </ul>
            </div>
        </article>
    </main>
{% endblock %}

{{ content | safe }}
