{% extends 'layouts/base.njk' %}
{% set pageType = 'Homepage' %}

{# Intro content #}
{% set introHeading = title %}
{% set introPhoto = photo %}

{# Post list content #}
{% set postListHeading = postsHeading %}
{% set postListItems = collections.postFeed %}

{# Archive link #}
{% if postListItems.length < collections.posts.length %}
  {% set paginationNextText = archiveButtonText %}
  {% set paginationNextUrl = '/archive' %}
{% endif %}
  {% block head %}
  <styles>

  </styles>
  {% endblock %}
{% block content %}
  <main id="main-content" tabindex="-1" class="homegrid">
    <div class="grid-intro">{% include "partials/components/intro.njk" %}</div>
    <div class="grid-posts">{% include "partials/components/post-list.njk" %}
        {% include "partials/components/pagination.njk" %}</div>
    <div class="grid-thumbs">{% include "partials/components/thumbs-grid.njk" %}</div>
  </main>
{% endblock %}
