{% extends 'layouts/base.njk' %}
{% set pageType = 'Homepage' %}

{# Intro content #}
{% set introHeading = title %}
{% set introPhoto = photo %}
{% set introSummary %}
{{ content | safe }}
{% endset %}

{# Post list content #}
{% set postListHeading = postsHeading %}
{% set postListItems = collections.postFeed %}

{# Archive link #}
{% if postListItems.length < collections.posts.length %}
  {% set paginationNextText = archiveButtonText %}
  {% set paginationNextUrl = '/archive' %}
{% endif %}

{% block content %}
  <main id="main-content" tabindex="-1">
    {% include "partials/components/intro.njk" %}
    {% include "partials/components/post-list.njk" %}
    {% include "partials/components/instagram.njk" %}
    {% include "partials/components/pagination.njk" %}
    <section class="[ contact-form ] [ pad-top-700 gap-bottom-900 ]">
      <div class="[ inner-wrapper ] [ sf-flow ]">
        <h2 class="[ post-list__heading ] [ text-700 md:text-800 ]">Send Email</h2>
        {% include "partials/components/form.njk" %}
      </div>
    </section>
  </main>
{% endblock %}