{% extends 'layouts/base.njk' %}
{% set pageType = 'photoset' %}

{# Intro content #}
{% set introHeading = title %}

{% block content %}
    <main id="main-content" tabindex="-1">
        <article class="[ post ] [ h-entry ]">
            <div class="[ post__body ] [ inner-wrapper ] [ leading-loose  pad-bottom-900 text-500 ] [ sf-flow ] [ e-content ]">
            <h1>{{ introHeading }}</h1>
                {{ content | safe }}
                <ul class="photos-list">
                    {% if smugmug.posts.length %}
                        {% for item in smugmug.posts %}
                            <li class="photos-listitem">
                                <a href="{{ item['media:group'][0]['media:content'][7].$.url }}" data-lightbox="sm-recent" data-title="{{ item.title }}" class="sm-item-link"><img src="{{item['media:group'][0]['media:content'][2].$.url }}" alt="{{ item.title  }}" alt="{{ item.title }}" class="photos-thumb"></a>
                            </li>
                        {% endfor %}
                    {% endif %}

                </ul>
            </div>
        </article>
    </main>
{% endblock %}

{{ content | safe }}
