{% extends 'layouts/base.njk' %}
{% set pageType = 'Post' %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}
<p class="[ intro__meta ] [ text-500 leading-tight ]">
  {% if date %}
    <time datetime="{{ date | w3DateFilter }}" class="dt-published">{{ date | dateFilter }}</time>
  {% endif %}
  <span>— {{ helpers.getReadingTime(content) }} minute read</span>
</p>
{% endset %}

{% block content %}
  <main id="main-content" tabindex="-1">
    <article class="[ post ] [ h-entry ]s">
      <div class="[ post__body ] [ inner-wrapper ] [ leading-loose ] [ e-content ]">
        <h1>{{ introHeading }}</h1>
        {{ content | safe }}
      </div>
      {% if site.enableThirdPartyComments %}
        <hr/>
        <aside class="[ post__body ] [ inner-wrapper ] [ pad-bottom-900 text-500 ]">
          {% include "partials/global/third-party-comments.njk" %}
        </aside>
      {% endif %}

    </article>
  </main>
{% endblock %}

{{ content | safe }}
{% block sidebar %}{% endblock %}
