---
pagination:
    data: galleries
    size: 1
    alias: galleryitem
permalink: photos/{{ pagination.items[0].gallery_slug | slug }}/index.html
---
{% extends 'layouts/base.njk' %}
{% set pageType = 'photosetFB' %}

{{ page | log }}

{% set introHeading = galleryitem.gallery_name %}
{% set galleryDescription = galleryitem.gallery_description %}

{% block content %}
    <main id="main-content" tabindex="-1">
        <article class="[ post ] [ h-entry ]">
            <div class="[ post__body ] [ inner-wrapper ] [ leading-loose  pad-bottom-900 text-500 ] [ e-content ]">
                <h1 class="gallery">{{ introHeading }}</h1>
                {% if galleryDescription | length %}
                    <p>{{ gallery_description }}</p>
                {% endif %}
                {{ content | safe }}
                <div class="gallery-btn-back">
                    <a href="/photos/" class="gallery-btn-link"> Back to Galleries</a>
                </div>
                <ul class="photos-list photos-list_{{ pagination.items[0].gallery_slug | slug }}">
                    {% for photo in galleryitem.gallery_photos %}
                        <li class="photos-listitem">
                            {% set permalink = ['<br><a href="/photos/', photo.slug, '" class="slideshow-permalink">view permalink</a>'] %}
                            <a href="/photos/{{ photo.slug }}" data-src="https://res.cloudinary.com/bradvsbrad/image/upload/w_1280/{{ photo.public_id }}.jpg" data-fancybox="images" data-caption="{{ photo.title }} {{ photo.caption }} {{ permalink | join }}" aria-label="{{ photo.title }} {{ photo.caption }}" class="ig-thumb-link"><img src="https://res.cloudinary.com/bradvsbrad/image/upload/w_392,c_fill,g_auto,ar_1.667/{{ photo.public_id }}.jpg" alt="{{ photo.title }}" class="photos-thumb"></a>
                        </li>
                    {% endfor %}

                </ul>
            </div>
        </article>
    </main>
{% endblock %}

{{ content | safe }}
{% block sidebar %}

    {% include "partials/global/site-side.njk" %}

{% endblock %}
