---
pagination:
    data: bvbphotos.photos
    size: 1
    alias: photo
permalink: photos/{{ pagination.items[0].slug | slug }}/index.html
tags:
    - photo
---
{% extends 'layouts/base.njk' %}
<style>
    .wrapper {
        max-width: 100rem !important;
    }
</style>
{% set pageType = 'photo' %}

{% block content %}
    <main id="main-content" tabindex="-1">
        <article class="[ photo-details post ] [ h-entry ] nointro">
            <div class="[ post__body ] [ inner-wrapper ] [ leading-loose pad-top-900 {{ 'pad-bottom-900' if not site.enableThirdPartyComments }} text-500 ] [ sf-flow ] [ e-content ]">
                <h1 class="[ intro__heading ] [ md:text-700 leading-tight ] [ p-name ]">
                    {{photo.title}}
                </h1>
                <img src="https://res.cloudinary.com/bradvsbrad/image/upload/w_1600/{{ photo.public_id }}.jpg" class="hero-photo" alt="{{ photo.title }}"/>
                <p>{{ photo.caption}}</p>
                <p>
                    {{photo.camera_maker}}
                    {{photo.camera_model}}
                </p>

                <nav aria-labelledby="my-pagination" class="pagination pagination-photos">
                    <ol>
                        <li>
                            {% if page.url != pagination.href.first %}
                                <a href="{{ pagination.href.first }}">First</a>
                            {% else %}First{% endif %}
                        </li>
                        <li>
                            {% if pagination.href.previous %}
                                <a href="{{ pagination.href.previous }}">Previous</a>
                            {% else %}Previous{% endif %}
                        </li>
                        <li>
                            {% if pagination.href.next %}
                                <a href="{{ pagination.href.next }}">Next</a>
                            {% else %}Next{% endif %}
                        </li>
                        <li>
                            {% if page.url != pagination.href.last %}
                                <a href="{{ pagination.href.last }}">Last</a>
                            {% else %}Last{% endif %}
                        </li>
                    </ol>
                </nav>

                <footer class="[ post__footer ] [ pad-top-500 pad-bottom-500 ]">
                    <div class="inner-wrapper">
                        <div class="[ nav ] [ box-flex align-center ]">
                            <h2 class="font-base text-600 weight-mid">Filed under</h2>
                            <ul class="[ nav__list ] [ box-flex align-center pad-left-400 ] [ p-category ]">
                                {% for item in tags %}
                                    <li class="nav__item">
                                        <a href="/tags/{{ item }}">{{ item }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </footer>
            </article>
        </main>
    {% endblock %}

    {{ content | safe }}
