body {
  // Strip the unit off the size ratio to generate a line height
  $line-height: 1.5rem;
  line-height: $line-height / ($line-height * 0 + 1);
  @include apply-utility('font', 'base');
}

h1,
h2,
h3 {
  @include apply-utility('font', 'headers');
  // margin: 2.5rem 0;
}

h1 {
  font-size: get-size(700);
  margin: get-size(600) 0 get-size(500) 0;

}

h2 {
  font-size: get-size(500);
   margin: get-size(500) 0 get-size(400) 0;
}

h3 {
  font-size: get-size(500);
}

@include media-query('md') {

h1 {
  font-size: get-size(800);
   margin: get-size(700) 0 get-size(600) 0;
}

h2 {
  font-size: get-size(600);
  margin: get-size(500) 0 get-size(400) 0;

}

h3 {
    font-size: get-size(500);
}

}
