@import 'config';
// Pull in the stalfos lib
@import '../../node_modules/stalfos/stalfos.scss';
// Local mixins
//@import 'mixins/dark-mode';
@import 'theme';
// Local dependencies
@import 'typography';
/**
 * GLOBAL STYLES
 */

html,
body {
  height: 100%;
}

body {
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  border-bottom: 1.4rem solid #e6e6e6;
  border-top: 0.9rem solid #eeeeee;

  &:focus {
    outline: none;
  }
}

hr {
  display: block;
  height: 1px;
  max-width: 500px;
  background: var(--color-stroke);
  border: none;
  margin: get-size(900) auto;
}

a {
  background-image: linear-gradient(to bottom, #5a549c20, #0d00ff40);
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: 100% 40%;
  color: #191b08;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  position: relative;
  top: 0;
  text-decoration: none !important;
  transition: all 0.1s ease-in;

  &:hover {
    background-image: linear-gradient(to bottom, #0d00ff7a, #0d00ff7a);
    background-position: 0 100%;
    background-size: 100% 100%;
    //top: -2px;
  }
}

a:not([class]) {
  text-decoration: none;
}

h1.p-name {
  color: $bvb-simple-black;
  padding: 0;
  margin: 0;
  font-size: 1.95rem;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

a.icon-links {
  margin-right: 0.5rem;
  border: none;
  background: none;
  box-shadow: none;
  color: $bvb-simple-black;
}

.social-list a {
  border: none;
  background: none;
  color: $bvb-simple-black;
}

.gridwrap {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.homegrid {
  display: grid;
  grid-template-columns: 1fr;
  //max-width: 52rem;
  padding: 0 0.5rem;
  margin-left: auto;
  margin-right: auto;

  @include media-query('md') {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 52rem;
    padding: 0 1.25rem;
  }
}

.grid-intro {
  grid-column: 1 / 2;
  grid-row: 1;

  @include media-query('md') {
    grid-column: 1 / 5;
  }
}

.grid-posts {
  grid-column: 1 / 2;
  grid-row: 2;

  @include media-query('md') {
    grid-column: 1 / 3;
  }
}

.grid-thumbs {
  grid-column: 1 / 2;
  grid-row: 3;

  @include media-query('md') {
    grid-column: 3 / 5;
    grid-row: 2;
  }
}

.post-list__item {
  display: grid;
  grid-template-rows: 1fr minmax(5rem, auto);
  height: 245px;
}

.post-list__item .image {
  grid-row: 1 / 3;
  grid-column: 1;

}

.post-list__item .image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.post-list__item .caption {
  background-color: #000000bb;
  padding: 0.5rem;
  grid-row: 2;
  grid-column: 1;
  line-height: 1;
}

.post-list__date {
  margin-top: 0.5rem;
  color: #ffffff;
}

.caption a {
  text-decoration: none;
  background: none;
  display: block;
  color: #ffffff;
}

.gallery-list__items {
  clear: left;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;

  @include media-query('md') {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
  }
}

.gallery-list__item {
  display: grid;
  grid-template-rows: 1fr minmax(2rem, auto);
  height: 245px;
}

.gallery-list__item .image {
  grid-row: 1 / 3;
  grid-column: 1;
}

.gallery-list__item .image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.gallery-list__item .caption {
  background-color: #00000099;
  padding: 0.5rem;
  grid-row: 2;
  grid-column: 1;
  line-height: 1;
}

.gallery-list__item .caption a {
  text-decoration: none;
  background: none;
  display: block;
  color: #ffffff;
}


ul.mandalas-grid {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr;
}

.mandalas-grid img.sm-item-thumb {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

a.photos-thumb-link,
a.ig-thumb-link {
  background: none;
}

ul.photos-list-home {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 115px);
}

.photos-list-home li:first-child {
  grid-column: 1 /3;
  grid-row: 1 /3;
}

img.photos-thumb {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

ul.photos-list {
  clear: both;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 1fr 1fr;
  // grid-template-rows: repeat(10, 185px);
}

ul.photos-list_waterdrop {
  clear: both;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 1fr 1fr;
  // grid-template-rows: repeat(10, 185px);
}

ul.cards-list {
  clear: both;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  // grid-template-rows: repeat(10, 185px);
}

ul.pano-list {
  clear: both;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 1fr;
  // grid-template-rows: repeat(10, 185px);
}

@media (min-width: 32rem) {
  ul.photos-list {
    grid-template-columns: 1fr 1fr 1fr;
  }

  ul.photos-list_waterdrop {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
  }

  ul.cards-list {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  ul.pano-list {
    grid-template-columns: 1fr;
  }
}

li.photos-listitem {
  background: none;
  line-height: 0;
}

/*
ADVANCED

 Portrait */

// @media (max-aspect-ratio: 1/1) {
//   li.photos-listitem {
//     height: 30vh;
//   }
// }

/* Short screens */

// @media (max-height: 480px) {
//   li.photos-listitem {
//     height: 80vh;
//   }
// }

.parent {
  display: grid;
  grid-gap: 32px;
  grid-template-areas:
    'grid-top'
    'grid-main'
    'grid-side';

  @include media-query('md') {
    margin-top: 2rem;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      'grid-top grid-top'
      'grid-main grid-side';
  }
}

.parent-contact {
  display: grid;
  grid-template-areas:
    'grid-top'
    'grid-main'
    'grid-side';

  @include media-query('sm') {
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      'grid-top grid-top'
      'grid-main grid-side';
  }
}

.parent-contact .grid-main {
  padding-right: 2rem;
}

.grid-top {
  grid-area: grid-top;
}

.grid-main {
  grid-area: grid-main;
}

.grid-side {
  grid-area: grid-side;
}

.grid-side,
.contact {
  font-size: 87.5%;
}

.grid-side h2 {
  margin-bottom: 0.4em;
}

.side-social ul,
.footer-social ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.side-social li,
.footer-social li {
  font-size: 24px;
  display: inline-block;
}

ul.social-list {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

ul.social-list li {
  float: left;
  margin: 1rem;
}

/**
 * PROJECT IMPORTS
 */

// Utils
@import 'utilities/inner-wrapper';
@import 'utilities/visually-hidden';
@import 'utilities/wrapper';
// Components
@import 'components/button';
@import 'components/heading-permalink';
@import 'components/intro';
@import 'components/nav';
@import 'components/pagination';
@import 'components/post';
@import 'components/post-list';
@import 'components/site-head';
@import 'components/site-foot';
@import 'components/skip-link';
@import 'components/syntax-highlighting';
@import 'components/video-player';
@import 'components/resume';
@import 'lightbox';
