@import 'config';
// Pull in the stalfos lib
@import '../../node_modules/stalfos/stalfos.scss';
// Local mixins
//@import 'mixins/dark-mode';
@import 'theme';
// Local dependencies
@import 'typography';
/**
 * GLOBAL STYLES
 */

html,
body {
  height: 100%;
}

body {
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  &:focus {
    outline: none;
  }
}

hr {
  display: block;
  height: 1px;
  max-width: 500px;
  background: var(--color-stroke);
  border: none;
  margin: get-size(900) auto;
}


a {
  color: $bvb-simple-pri;
  padding: 0.1rem;
  text-decoration: none;
}

  a:hover {
    text-decoration: none;
    background: $bvb-simple-highlight;
  }

h1.p-name {
  color: $bvb-simple-black;
}

a.icon-links {
  margin-right: 1rem;
  border: none;
  background: none;
  box-shadow: none;
}


.gridwrap {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.parent {
  margin-top: 2rem;
  display: grid;
  grid-gap: 16px;
  grid-template-areas:
    "grid-top"
    "grid-main"
    "grid-side";

  @include media-query('sm') {
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "grid-top grid-top"
      "grid-main grid-side";
      }
}


.parent-contact {
  display: grid;
  grid-template-areas:
    "grid-top"
    "grid-main"
    "grid-side";

  @include media-query('sm') {
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "grid-top grid-top"
      "grid-main grid-side";
      }
}




.grid-top {
  grid-area: grid-top;


}
.grid-main {
  grid-area: grid-main;

}
.grid-side {
  grid-area: grid-side;
  padding-left: 3rem;

}

.grid-side,
.contact {
  font-size: 87.5%;
}
.grid-side h2 {
  margin-bottom: 0.4em;
}


.side-social ul,
.footer-social ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.side-social li,
.footer-social li {
  font-size: 24px;
  display: inline-block;;

}
ul.social-list {
  list-style: none; text-align: center;
}
ul.social-list li {
  float: left; margin: 1rem;
}
/**
 * PROJECT IMPORTS
 */

// Utils
@import 'utilities/inner-wrapper';
@import 'utilities/visually-hidden';
@import 'utilities/wrapper';
// Components
@import 'components/button';
@import 'components/heading-permalink';
@import 'components/intro';
@import 'components/nav';
@import 'components/pagination';
@import 'components/post';
@import 'components/post-list';
@import 'components/site-head';
@import 'components/site-foot';
@import 'components/skip-link';
@import 'components/syntax-highlighting';
@import 'components/video-player';
@import 'lightbox';

