@import 'config';
// Pull in the stalfos lib
@import '../../node_modules/stalfos/stalfos.scss';
// Local mixins
@import 'mixins/dark-mode';
@import 'theme';
// Local dependencies
@import 'typography';
/**
 * GLOBAL STYLES
 */

html,
body {
  height: 100%;
}

body {
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  &:focus {
    outline: none;
  }
}

hr {
  display: block;
  height: 1px;
  max-width: 500px;
  background: var(--color-stroke);
  border: none;
  margin: get-size(900) auto;
}

.intro {
  background: linear-gradient(-45deg, #bc20bf, #29258c, #4e48f2, #3cf29d);
  background-size: 800% 300%;
  animation: gradientBG 120s ease infinite;
}
@keyframes gradientBG {
  0% {
    background-position: 0% 25%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 25%;
  }
}
a {
  color: #323275;
  padding: 0.1rem 0;
  text-decoration: none;
  border-bottom: 3px solid #6dffff;
  a:hover {
    text-decoration: none;
    background: #6dffff;
  } //@include apply-utility('leading', 'tight');
}
h1.p-name {
  color: #ffffff;
}

/**
 * PROJECT IMPORTS
 */

// Utils
@import 'utilities/inner-wrapper';
@import 'utilities/visually-hidden';
@import 'utilities/wrapper';
// Components
@import 'components/button';
@import 'components/heading-permalink';
@import 'components/intro';
@import 'components/nav';
@import 'components/pagination';
@import 'components/post';
@import 'components/post-list';
@import 'components/site-head';
@import 'components/site-foot';
@import 'components/skip-link';
@import 'components/syntax-highlighting';
@import 'components/video-player';
